.container{
    text-align: center;
    margin-top: 23px;
    font-size: 150%;
    
    
}

table{
    margin: auto;
}

input{
    border-radius: 12px;
    border: 5px solid black ;
    font-size: 34px;
    height: 65px;
    width: 450px;
    
}
button{
    font-size: 40px;
    background-color:#FFC93C;
    width: 102px;
    border-radius: 20px;
    height: 90px;
    margin: 7px;
}
.calculator{
    background-color:#31326F;
    
    padding: 20px;
    border-radius:45px;
    display: inline-block;
    
}

